{% extends 'AppBundle::index.html.twig' %}

{% block content_page %}
    <div class="container-fluid">
        <div class="col-md-8">
            {% include 'AppBundle::block_news.html.twig' with {'news': news} %}
        </div>
        <div class="col-md-4">
            Recap' Profil
        </div>
    </div>
{% endblock %}
