{% extends '::base.html.twig' %}

{% block content %}
    <p>Welcome {{ user.username }}!</p>
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>

    <a href="{{ path('admin_homepage') }}">Admin</a>
{% endblock %}