<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" />


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>


        <title>{% block title %}Colonists{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% include '::topnav.html.twig' %}
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        {% include '::footer.html.twig' %}


        {% block javascripts %}{% endblock %}
        <script>
            $(document).ready(function() {
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    $.ajax({
                        method: "POST",
                        url: "{{ path('get_notifications') }}"
                    })
                    .done(function(data) {
                        console.log(data);

                        if (data.success) {
                            var obj = data.unread_notifs;
                            var len = 0;

                            $.each(obj, function(i, el) {
                                $('.notification-list').html(
                                    '<li>' +
                                    '<p><img class="img-notif" width="20px" height="20px" alt="icon-notif" />' + el.message + '</p>' +
                                    '<p style="color:#666666">' + el.date + '</p>' +
                                    '</li>'
                                );

                                len++;
                            });

                            if (len == 0) {
                                $('.notification-list').html('<li><p>No notifs.</p></li>');
                            }
                        }
                    });

                    $('.notification-bell').click(function() {
                       $('.notification-list').toggle();
                    });
                {% endif %}
            });
        </script>
    </body>
</html>
