<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left navbar-text">
                <li>
                    <span class="fa fa-copyright"></span> 2017, Deep Space Entertainment. Tous droits réservés.
                </li>
            </ul>
        </div>
    </div>
</nav>