{% extends 'AdminBundle::index.html.twig' %}

{% block content_page %}
    
    <h1>Create News</h1>

    {{ form_start(form) }}

    {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.title} %}
    {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.content} %}
    {% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.isPublished} %}

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_end(form) }}

{% endblock %}