{% extends 'AdminBundle::index.html.twig' %}

{% block content_page %}
    <h1>News Manager</h1>

    <table>
        <thead>
            <th>Title</th>
            <th>Created Date</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for article in news %}
            <tr>
                <td><a href="{{ path('manage_article', {'article_id': news.id}) }}">{{ news.title }}</a></td>
                <td>{{ news.createdAt|date('d/m/Y') }}</td>
                <td><a href="{{ path('manage_article', {'article_id': news.id}) }}"><span class="fa fa-edit"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

