<div class="list-group">
    <a href="{{ path('homepage') }}"><button type="button" class="list-group-item">Game Homepage</button></a>
    <a href="{{ path('admin_homepage') }}"><button type="button" class="list-group-item">Admin Homepage</button></a>
    <a href="{{ path('manage_users') }}"><button type="button" class="list-group-item">Manage Users</button></a>
    <a href="{{ path('manage_news') }}"><button type="button" class="list-group-item">Manage News</button></a>
</div>
