<div class="row">
    <div class="col-lg-2">
        <div class="list-group">
            <button type="button" class="list-group-item"><a href="{{ path('homepage') }}">Home</a></button>
            <button type="button" class="list-group-item"><a href="{{ path('admin_homepage') }}">Admin Home</a></button>
            <button type="button" class="list-group-item"><a href="{{ path('a_users') }}">Gestion des users</a></button>
            <button type="button" class="list-group-item"><a href="{{ path('a_news') }}">Gestion des news</a></button>{# empty Twig template #}
        </div>
    </div>
</div>        