{% trans_default_domain 'FOSUserBundle' %}

<h2 class="form-register-heading">Registration Form</h2>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.email} %}
{% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.username} %}
{% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.plainPassword.first} %}
{% include 'AppBundle:Form:draw_form_item.html.twig' with {'item': form.plainPassword.second} %}

{{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}